<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container">
    <%= link_to('twitter', root_path, class: "navbar-brand btn btn-link text-reset fw-bold") %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="align-middle collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <% if user_signed_in? %>
          <li><p class="navbar-brand">Hello, @<%= current_user.username %></p></li>
          <li><p><%= link_to('My Account', edit_user_registration_path, class: "navbar-brand btn btn-outline-success") %></p></li>
          <li><p><%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "navbar-brand btn btn-outline-danger") %></p></li>
        <% else %>
          <li><p><%= link_to('Sign in', new_user_session_path, class: "navbar-brand btn btn-outline-warning") %></p></li>
          <li><p><%= link_to('Sign up', new_user_registration_path, class: "navbar-brand btn btn-outline-primary") %></p></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
